
@{
    ViewBag.Title = "ShowEventReportGenderWise";
    Layout = "~/Views/Shared/Event.cshtml";
}

<h2 style="text-align: center; color: #4CAF50;">View Event Report Gender Wise</h2>
<br/>

<form id="eventForm">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label>Start Date</label>
    <input type="date" id="startDate" />
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label>End Date</label>
    <input type="date" id="endDate"/>
    <br/>
    <br/>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label class="radio-inline">
        <input type="radio" name="gender" id="gender" value="Male" checked>Male
    </label>
    &emsp;&emsp;
    <label class="radio-inline">
        <input type="radio" name="gender" id="gender" value="Female">Female
    </label>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="button" id="Show" value="Show Report" class="btn btn-default" style="background-color: #4CAF50; color: white" />
</form>
<br/>

<form>
    <table class="table table-striped table-bordered table-hover" id="tableId">
        <thead>
            <tr>
                <th style="text-align: center">Event Name</th>
                <th style="text-align: center">Event Date </th>
                <th style="text-align: center">Total Visitor</th>
                <th style="text-align: center">AGE(0-25)</th>
                <th style="text-align: center">AGE(26-40)</th>
                <th style="text-align: center">AGE(40+)</th>

            </tr>
        </thead>
        <tbody id="EventTableBody"></tbody>


    </table>
</form>
<h3 style="text-align: center"><label id="displayMsg"></label> </h3>

@section scripts
{
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#Show').click(function () {
                $("#tableId").show();
                $("#aaa").show();
                $("#EventTableBody").empty();
                var fromDate = $('#startDate').val();
                var toDate = $('#endDate').val();
                var checkedradio = $('[name="gender"]:radio:checked').val();
                var startdate = Date.parse(fromDate);
                var enddate = Date.parse(toDate);
                if (startdate > enddate) {
                    $("#displayMsg").text("Start Date must be less than End Date");
                } 
                else {

                    var jsonData = { frmDate: fromDate, edDate: toDate, gender: checkedradio };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ShowDateWiseEventReportByGender", "Event")',

                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                        success: function (data) {
                           // alert(data[0].Eventdte);
                            $.each(data, function (key, value) {
                                $("#EventTableBody").append('<tr><td>' + value.EventName + '</td><td>' + value.Eventdte + '</td><td>' + value.Count + '</td><td>' + value.Count1 + '</td>');
                            });
                        }


                    });

                }

            });
        });
    </script>
}
